body,html{
    left: 0;
    top: 0;
    margin: 0;
    transition: 0.2s all;
}
#info-back{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%,-50%);
    width: 30%;
    text-align: center;
    width: max-content;
    min-width: 40vh;
}
#generate{
    display: block;
    font-size: 4vh;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    margin-bottom: 5vh;
}
.info{
    font-size: 3vh;

    text-align: left;
}